---
http_interactions:
- request:
    method: get
    uri: http://api1.webpurify.com/services/rest/?api_key=<WEBPURIFY_API_KEY>&format=json&method=webpurify.live.return&text=safe%20text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"rsp":{"@attributes":{"stat":"ok"},"method":"webpurify.live.return","format":"rest","found":"0","api_key":"<WEBPURIFY_API_KEY>"}}'
  recorded_at: Tue, 28 Apr 2015 15:03:29 GMT
recorded_with: VCR 2.9.3
