---
http_interactions:
- request:
    method: get
    uri: http://api1.webpurify.com/services/rest/?api_key=<WEBPURIFY_API_KEY>&format=json&method=webpurify.live.check&text=text%20with%20www.example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"rsp":{"@attributes":{"stat":"ok"},"method":"webpurify.live.check","format":"rest","found":"0","api_key":"<WEBPURIFY_API_KEY>"}}'
  recorded_at: Mon, 27 Apr 2015 22:31:03 GMT
recorded_with: VCR 2.9.3
